<% content_for :page_name, "Registration" %>
<%= render "devise/shared/navreg" %>
<div class="container-fluid" style="width: 95vw;">
  <div class="row justify-content-center mt-5">
    <div class="col-md-12 col-lg-8">
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-3" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-2">
          <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name", placeholder: "Full Name" %>
        </div>

        <div class="mb-2">
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "Email" %>
        </div>

        <div class="mb-2">
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password", placeholder: "Password" %>
        </div>

        <div class="mb-2">
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", placeholder: "Confirm Password" %>
        </div>

        <div class="text-center">
          <%= f.submit "Sign up", class: "btn btn-primary", style: "width: 100%;" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const nextButton = document.getElementById('nextButton');

      if (nextButton) {
        nextButton.addEventListener('click', function() {
          // Trigger the registration form submission
          document.querySelector('#new_user').submit();
        });
      }
    });
  </script>
</div>