<% content_for :head do %>
  <%= stylesheet_link_tag 'user_index' %>
<% end %>

<%= render 'helper/navbar' %>

<%= form_with(model: [@author, @category, @buy], url: buys_path, method: :post) do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", id: "name" %>
  </div>
  <div class="mb-3">
    <%= f.label :amount, class: "form-label" %>
    <%= f.number_field :amount, class: "form-control", id: "amount" %>
  </div>
  <div class="mb-3">
    <%= f.label :category_ids, class: "form-label" %>
    <% Category.all.each do |category| %>
      <div class="form-check">
        <%= check_box_tag "buy[category_ids][]", category.id, @buy.category_ids.include?(category.id), class: "form-check-input" %>
        <%= label_tag "buy_category_ids_#{category.id}", category.name, class: "form-check-label" %>
      </div>
    <% end %>
  </div>
  <button type="submit" class="btn btn-success">Save Transaction</button>
<% end %>
