<% content_for :head do %>
  <%= stylesheet_link_tag 'category_index' %>
<% end %>

<% content_for :page_name, "New Transaction" %>

<%= render 'helper/navbar' %>

<div class="container-fluid">
  <%= form_with(model: [@author, @category, @buy], url: buys_path, method: :post) do |f| %>
    <div class="mt-5 mb-3">
      <%= f.text_field :name, class: "form-control", id: "name", placeholder: "Name" %>
    </div>
    <div class="mb-3">
      <%= f.number_field :amount, class: "form-control", id: "amount", placeholder: "Amount" %>
    </div>
    <div class="mb-3">
      <p>Categories (please select at least one): </p>
      <div class="d-flex flex-wrap">
        <% Category.all.each do |category| %>
          
            <div class="form-check mx-3">
              <%= check_box_tag "buy[category_ids][]", category.id, @buy.category_ids.include?(category.id), class: "form-check-input" %>
              <%= label_tag "buy_category_ids_#{category.id}", category.name, class: "form-check-label" %>
            </div>
          
        <% end %>
      </div>
    </div>
    <button type="submit" class="btn btn-success" style="width: 100%;">Save Transaction</button>
    <div class="d-flex justify-content-center mt-4">
      <%= link_to 'Back', category_path(id: @cat_id), class: 'btn btn-warning', style: "width: 100%;" %>
    </div>
  <% end %>
</div>
