<% content_for :head do %>
  <%= stylesheet_link_tag 'user_index' %>
<% end %>
<% content_for :page_name, "Transactions" %>

<%= render 'helper/navbar' %>

<h1>Category: <%= @category.name %></h1>
<h2>List of Transactions under this category: </h2>
<h3>Total amount $<%= @category.total %></h3>
<% @category.buys.order(created_at: :desc).each do |buy| %>
  <div class="user-profile">
    <ul>
        <li><h2><%= buy.amount %></h2></li>
    </ul>
  </div>
<% end %>

<div class="d-flex justify-content-center mt-4">
  <%= link_to 'Add New Transaction', new_buy_path, class: 'btn btn-success' %>
</div>
